* {
    padding: 0;
    margin: 0;
}

.wrapper {
    background: url(a.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
}

.navbar {
    position: fixed;
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
}

.navbar ul {
    float: right;
    margin-right: 20px;
}

.navbar ul li {
    list-style: none;
    margin: 0 8px;
    display: inline-block;
    line-height: 80px;
}

.navbar ul li a {
    font-size: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: black;
    padding: 6px 13px;
    text-decoration: none;
    transition: .4s;
}

.navbar ul li a.active,
.navbar ul li a:hover {
    background: rgb(241, 243, 201);
    border-radius: 2px;
}

.wrapper .center {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    user-select: none;
}

.center h1 {
    color: #050505;
    font-size: 50px;
    font-family: "cursive";
    text-transform: uppercase;
    width: 900px;
    text-align: center;
}

.center h2 {
    color: crimson;
    font-size: 30px;
    font-family: "cursive";
    width: 900px;
    text-align: center;
}

.center .buttons {
    margin: 35px 280px;
    font-family: "red";
    text-align: center;
}

.buttons button {
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: 600;
    color: #0b0b0ebe;
    background: rgb(133, 145, 151);
    outline: none;
    cursor: pointer;
    border: 1px solid #2e3033;
    border-radius: 25px;
    transition: .4s;
}

.buttons .btn2 {
    margin-left: 25px;
}

.buttons button:hover {
    background: #fdffddf8;
}

.sf {
    color: white;
    font-size: 25px;
    font-family: "cursive";
    width: 1520px;
    font-weight: bold;
    height: 100;
}